{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true,
    "node": true,
    "es2021": true,
    "browser": true
  },
  "rules": {
    "no-use-before-define": [0],
    "prettier/prettier": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "indent": ["error", 2],
    "no-multi-spaces": ["error"],
    "arrow-parens": ["error", "as-needed"],
    "@typescript-eslint/no-use-before-define": [1],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
