@font-face {
  font-family: 'Konsolev Regular';
  src: url(../../public/fonts/Konsolev-Regular.woff2) format('woff2'),
    url(../../public/fonts/Konsolev-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Konsolev SemiBold';
  src: url(../../public/fonts/Konsolev-Semibold.woff2) format('woff2'),
    url(../../public/fonts/Konsolev-Semibold.woff) format('woff');
}

:root {
  --white: #fff;
  --black: #000;
  --pink: #ec3793;
  --grey: #999;
  --slate: #858997;
  --cadetBlue: #aeb0c7;
  --dodgerBlue: #5351fb;
  --aurora: #00cd98;
  --sushi: #7dbc42;
  --mustard: #f6b900;
  --vermilion: #f64000;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background-color: #e2dfda;
  color: #153f45;
  padding: 0;
  margin: 0;
  font-family: 'Konsolev Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form label {
  font-weight: bold;
}

.form input {
  margin-top: 10px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #E2DFDA;
  }
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  row-gap: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
