@font-face {
  font-family: 'Konsolev Regular';
  src: url(../../public/fonts/Konsolev-Regular.woff2) format('woff2'),
    url(../../public/fonts/Konsolev-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Konsolev SemiBold';
  src: url(../../public/fonts/Konsolev-Semibold.woff2) format('woff2'),
    url(../../public/fonts/Konsolev-Semibold.woff) format('woff');
}

:root {
  --white: #fff;
  --black: #000;
  --base: #153f45;
  --beige: #e2dfda;
  --pink: #ec3793;
  --grey: #999;
  --slate: #858997;
  --gallery: #bfbfba;
  --cadetBlue: #aeb0c7;
  --dodgerBlue: #5351fb;
  --aurora: #00cd98;
  --sushi: #7dbc42;
  --mustard: #f6b900;
  --vermilion: #f64000;
  --overcast: #ada9a3;
  --haze: #edf0f0;
  --alabaster: #f5f5f5;
  --pampas: #f2f0ed;
  --fsSmall0: 1rem;
  --fsSmall1: 1.1rem;
  --fsSmall2: 1.2rem;
  --fsSmall3: 1.3rem;
  --fsSmall4: 1.4rem;
  --fsSmall5: 1.5rem;
  --fsBase: 1.6rem;
  --fsMedium7: 1.7rem;
  --fsMedium8: 1.8rem;
  --fsMedium9: 1.9rem;
  --fsLarge0: 2rem;
  --fsLarge1: 2.1rem;
  --fsLarge2: 2.2rem;
  --fsLarge3: 2.3rem;
  --fsLarge4: 2.4rem;
  --fsVLarge3: 3rem;
  --fsVLarge6: 3.6rem;
  --fsHuge0: 4rem;
}

html {
  font-size: 62.5%;
  background-color: var(--beige);
}

body {
  font-size: var(--fsBase);
  background-color: var(--beige);
  color: var(--base);
  padding: 0;
  margin: 0;
  font-family: 'Konsolev Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: 0;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #E2DFDA;
  }
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: var(--fsMedium8);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  row-gap: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: var(--fsSmall2);
  color: var(--black);
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: var(--white);
  background: #007aff;
}

.grey-card {
  border-radius: 10px;
  background-color: var(--haze);
}

.success [class*='MuiSnackbarContent'] {
  background-color: var(--sushi);
  font-size: var(--fsBase);
}

.error [class*='MuiSnackbarContent'] {
  background-color: var(--vermilion);
  font-size: var(--fsBase);
}

.info [class*='MuiSnackbarContent'] {
  background-color: var(--dodgerBlue);
  font-size: var(--fsBase);
}

.transparent [class*='MuiSnackbarContent'] {
  background-color: transparent;
  box-shadow: none;
  font-size: var(--fsBase);
}
