@font-face {
  font-family: 'Konsolev Regular';
  src: url(../../public/fonts/Konsolev-Regular.woff2) format('woff2'),
    url(../../public/fonts/Konsolev-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Konsolev SemiBold';
  src: url(../../public/fonts/Konsolev-Semibold.woff2) format('woff2'),
    url(../../public/fonts/Konsolev-Semibold.woff) format('woff');
}

@font-face {
  font-family: 'Konsolev LightItalic';
  src: url(../../public/fonts/Konsolev-LightItalic.woff2) format('woff2'),
    url(../../public/fonts/Konsolev-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Bambang';
  src: url(../../public/fonts/Bambang.woff2) format('woff2'),
    url(../../public/fonts/Bambang.woff) format('woff');
}

:root {
  --white: #fff;
  --black: #000;
  --base: #153f45;
  --beige: #e2dfda;
  --sand: #f2f0ed;
  --pink: #ec3793;
  --cadetBlue: #aeb0c7;
  --dodgerBlue: #5351fb;
  --babyBlue: #f7fcfc;
  --juniper: #6c878b;
  --nileBlue: #153f45;
  --aurora: #00cd98;
  --sushi: #7dbc42;
  --seaSick: #bcdd9e;
  --mustard: #f6b900;
  --vermilion: #f64000;
  --grey: #999;
  --slate: #858997;
  --gallery: #bfbfba;
  --overcast: #ada9a3;
  --haze: #edf0f0;
  --alabaster: #f5f5f5;
  --concrete: #f9f9f9;
  --pampas: #f2f0ed;
  --porcelain: #e5eaea;
  --atol: #fbfafa;
  --fsSmall0: 1rem;
  --fsSmall1: 1.1rem;
  --fsSmall2: 1.2rem;
  --fsSmall3: 1.3rem;
  --fsSmall4: 1.4rem;
  --fsSmall5: 1.5rem;
  --fsBase: 1.6rem;
  --fsMedium7: 1.7rem;
  --fsMedium8: 1.8rem;
  --fsMedium9: 1.9rem;
  --fsLarge0: 2rem;
  --fsLarge1: 2.1rem;
  --fsLarge2: 2.2rem;
  --fsLarge3: 2.3rem;
  --fsLarge4: 2.4rem;
  --fsLarge5: 2.5rem;
  --fsLarge6: 2.6rem;
  --fsLarge9: 2.9rem;
  --fsVLarge3: 3rem;
  --fsVLarge6: 3.6rem;
  --fsHuge0: 4rem;
}

html {
  font-size: 62.5%;
  background-color: var(--beige);
  scroll-behavior: smooth;
}

body {
  font-size: var(--fsBase);
  background-color: var(--beige);
  color: var(--base);
  padding: 0;
  margin: 0;
  font-family: 'Konsolev Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

[contenteditable='true'] {
  border: 2px solid var(--sushi);
  border-radius: 10px;
  outline: 2px;
  padding: 20px;
}
[contenteditable] div {
  display: flex;
  flex-direction: column;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: var(--fsMedium8);
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 70px 50px;
  row-gap: 20px;
}

.swiper-slide fieldset {
  flex: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: var(--fsSmall2);
  opacity: 1;
  border: 2px solid var(--beige);
  background: var(--white);
}

.swiper-pagination .swiper-pagination-bullet-active {
  color: var(--beige);
  background: var(--beige);
}

.react-select [class$='control'] {
  border-radius: 10px;
  border-color: var(--grey);
}

.react-select [class$='control'] + [class$='menu'] {
  border-radius: 10px;
  background-color: var(--sand);
  padding: 10px;
  font-size: var(--fsMedium7);
}

.react-select [class$='control'] + [class$='menu'] div div {
  border-radius: 8px;
}

.react-select [class$='control'] + [class$='menu'] div div:focus-visible,
.react-select [class$='control'] + [class$='menu'] div div:active,
.react-select [class$='control'] + [class$='menu'] div div:hover {
  background-color: var(--nileBlue);
  color: var(--white);
}

.react-select [class$='control'] + [class$='menu'] div [class$='option'] {
  background-color: var(--sand);
}

.react-select [class$='IndicatorsContainer'] {
  display: none;
}

.grey-card {
  border-radius: 10px;
  background-color: var(--haze);
}

.orderedbloglist,
.bloglist {
  list-style-type: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.orderedbloglist {
  list-style-type: decimal;
}

[class*='MuiSnackbarContent'] {
  font-size: var(--fsBase);
}

.success [class*='MuiSnackbarContent'] {
  background-color: var(--sushi);
}

.error [class*='MuiSnackbarContent'] {
  background-color: var(--vermilion);
}

.info [class*='MuiSnackbarContent'] {
  background-color: var(--dodgerBlue);
}

.transparent [class*='MuiSnackbarContent'] {
  background-color: transparent;
  box-shadow: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
